h1 {
    color: #025157;
}

.subtitulo{
    color:#46484c;
}

.promocional{
    color: #8b8b8bcc;
}

button{
    background-color: #007f88;
    color: #fff;
}

body{
    background-color: #f7f9ff;
}

.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

li {
    display: inline;
    padding-right: 10px;
}

.logo {
    width: 15%;
}

.logo > img {
    width: 70%;
}

.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
}

.menu-item {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}

.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
}

.actions > * {
    margin-right: 10px;
    margin-left: 10px;
}

.actions a {
    color: #67b54b;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
}

.main {
    margin: 140px 50px 50px ; 
    text-align: center;
}

.btnLogin{
    float: right;
    display: inline;
    width: 15%;
}

.promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.publish h3{
    color: #025157;
}
.publish form p{
    color: #025157;
}
.publish p{
    color: #343434;
}

.publish > form {
    display: flex;
}
.contentVideo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contentVideo img {
    width: 120px;
    margin-top: 10px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}

.articulos{
    display: grid;
    /* grid-template-columns: repeat(2, 200px);
    grid-template-rows: 250px 300px; */
    grid-template: repeat(2, 300px) / 250px 300px;
}
.con{
    width: 200px;
    height: 200px;
}

.cont1{
    background-color: #007f88;
}

.cont2{
    background-color: #67b54b;
}

.cont3{
    background-color:beige;
}

.cont4{
    background-color:aqua;
}

.tarjetas{
    background-color:#007f88;
    /* padding: 10px; */
}

.card-title:hover{
    color: #007f88;
}